---
import { Image } from 'astro:assets';
import Alchemy from '../../../assets/alchemy.png';
import Anvil from '../../../assets/anvil.png';
import ArrowDown from '../../../assets/arrow_down.png';
import Hammer from '../../../assets/hammer.png';
import Time from '../../../assets/time.png';
import H1 from '../../../components/H1.astro';
import H2 from '../../../components/H2.astro';
import HeroWrapper from '../../../components/HeroWrapper.astro';
---

<section>
  <HeroWrapper className="justify-center">
    <div class="flex-1 flex items-center p-16 max-w-4xl text-center z-10">
      <div class="flex flex-col space-y-8 flex-1">
        <H1 className="md:text-7xl animate" highlight={['Digital Blacksmith?']}>
          Ready to become a Digital Blacksmith?
        </H1>
        <H2 className="animate" highlight={['Forge your own path']}>
          <strong>Forge your own path</strong> every Saturday with topics on experiences,
          one-person businesses, alchemy, and mindset.
        </H2>
      </div>
    </div>
    <div
      class="flex justify-center items-center flex-1 absolute bottom-0 md:bottom-0 w-[calc(100%-16px)] animate"
    >
      <Image src={ArrowDown} width={50} alt="time hologram" />
    </div>
    <div
      class="w-[80px] h-[80px] absolute left-[5%] md:top-[12%] md:left-[20%] float animate"
    >
      <Image
        src={Time}
        alt="time hologram"
        class="absolute inset-0 w-full h-full hover:scale-125 transition"
      />
    </div>
    <div
      class="w-[80px] h-[80px] absolute right-[5%] md:top-[5%] md:right-[25%] float animate"
    >
      <Image
        src={Hammer}
        alt="time hologram"
        class="absolute inset-0 w-full h-full hover:scale-125 transition"
      />
    </div>

    <div
      class="w-[80px] h-[80px] absolute bottom-[5%] right-10 md:bottom-[25%] md:right-[15%] float animate"
    >
      <Image
        src={Anvil}
        alt="anvil hologram"
        class="absolute inset-0 w-full h-full hover:scale-125 transition"
      />
    </div>
    <div
      class="w-[80px] h-[80px] absolute md:bottom-[22%] md:left-[10%] float animate"
    >
      <Image
        src={Alchemy}
        alt="time hologram"
        class="absolute inset-0 w-full h-full hover:scale-125 transition"
      />
    </div>
  </HeroWrapper>
</section>
