---
import { Image } from 'astro:assets';
import routes from '../utils/routes';

interface Props {
  data: {
    title?: string;
    description?: string;
    date: Date;
    contentImage?: string;
    contentImageAlt?: string;
    type: 'blog' | 'resources';
    cta?: string;
  };
  slug?: string;
  ctaCustom?: string;
}

const {
  data: { title, description, date, contentImage, contentImageAlt, cta, type },
  slug,
  ctaCustom,
} = Astro.props;

const getCta = () => {
  if (ctaCustom) {
    return ctaCustom;
  }

  if (!cta) {
    return type === 'blog' ? 'Read Full Note' : 'Get Free';
  }

  return cta;
};
---

<div
  class="card bg-white/10 shadow-xl overflow-hidden transition-transform hover:scale-[1.02]"
>
  <div class="w-full max-h-[300px] overflow-hidden">
    {
      contentImage && (
        <Image
          src={contentImage}
          alt={contentImageAlt ?? ''}
          width={480}
          height={300}
          class="w-full max-w-[100%]"
        />
      )
    }
  </div>
  <div class="card-body">
    <h2 class="card-title">{title}</h2>
    <time class="text-sm text-white/50" datetime={date.toISOString()}>
      {date.toISOString().split('T').at(0)}
    </time>
    <p class="mb-4">
      {description}
    </p>
    <div class="card-actions justify-center">
      <a
        class="btn btn-primary btn-md btn-block"
        href={`${routes[type]}/${slug}`}>{getCta()}</a
      >
    </div>
  </div>
</div>
