---
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';
import Breadcrumbs from '../components/Breadcrumbs.astro';
import Container from '../components/Container.astro';
import H1 from '../components/H1.astro';
import NewsletterCTACard from '../components/NewsletterCTACard.astro';
import Section from '../components/Section.astro';
import Layout from '../layouts/Layout.astro';
import routes from '../utils/routes';

const {
  data: { contentImageAlt, contentImage, title, description },
} = Astro.props as CollectionEntry<'blog'>;
---

<Layout title={title} description={description} image={contentImage}>
  <Section>
    <Container>
      <Breadcrumbs
        crumbs={[{ label: 'Blog', path: routes.blog }, { label: title }]}
      />
      <div
        class="lg:h-[500px] rounded-md mb-16 max-w-5xl w-full mx-auto overflow-hidden"
      >
        {
          contentImage && (
            <Image
              src={contentImage}
              alt={contentImageAlt}
              width="1000"
              height="500"
              class="w-full h-auto"
            />
          )
        }
      </div>
      <article class="prose !prose-invert prose-lg mx-auto">
        <H1>{title}</H1>
        <slot />
      </article>
    </Container>
  </Section>
  <Section>
    <Container>
      <div class="flex items-center justify-center">
        <NewsletterCTACard />
      </div>
    </Container>
  </Section>
</Layout>
